.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 10%;
}

.btn {
  margin-right: 10px;
}

.invalid-feedback {
  color: #dc3545;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;

  &:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
}

.btn-link {
  background-color: transparent;
  border: none;
  color: #007bff;

  &:hover {
    text-decoration: underline;
  }
}
