.table {
  width: 40%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd; // Add border to the table
  background-color: #f8f9fa; // Set background color for the table

  th, td {
    text-align: center; // Center align all table cells
    vertical-align: middle; // Vertically center the content
    border: 1px solid #ddd; // Add border to table cells
    padding: 8px; // Add padding to table cells
  }
}

// Apply zebra-striping to alternate rows
.table-striped {
  tbody {
    tr:nth-child(odd) {
      background-color: #ffffff; // Alternate row background color
    }
  }
}

// Customize text colors
.text-primary {
  color: #007bff; // Primary text color
}

.text-success {
  color: #28a745; // Success text color
}

.text-danger {
  color: #dc3545; // Danger text color
}

.btn-add-user {
  background-color: #28a745; /* Green color */
  color: #fff; /* White text color */
  border: none;
  padding: 0.375rem 0.75rem; /* Adjust padding as needed */
  border-radius: 0.25rem; /* Adjust border radius as needed */
  font-size: 0.875rem; /* Adjust font size as needed */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition effect */

  &:hover {
    background-color: #218838; /* Darker green color on hover */
  }

  &:focus {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5); /* Add focus shadow */
  }
}
